<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="ContextoBD" providerName="System.Data.SqlClient" connectionString="SERVER=(localdb)\v11.0;AttachDbFilename=c:\App_Data\TesteBD.mdf;Database=TesteBD;Integrated Security=True;" />
    
  </connectionStrings>
</configuration>